*{
	box-sizing: border-box;
}


#header-nav{
	background-color: gold;
}


h3{
	text-align: center;

	
}
.top{
	margin-top: 5px;
	background-color: grey;

}
.mid{
	background-color: grey
}
.bot{
	background-color: grey;
}
section{
	margin: 10px;
	color: red;
	text-align: center;
	height: 900px




}
@media (max-width: 767px
	width: 100%;
	margin: 0;

}





